* {
    font-family: "Gaegu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  /*Small Flex Box Phone Style Screen*/
  body {
    height: 900px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: black;
  }
  
  .whole-box {
    height: 98%;
    width: 99%;
    font-size: .75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid magenta .15rem;
    border-radius: .333rem;
    font-weight: bold;
  }
  
  
  /*Middle Sized Stuff-Tablets*/
  @media only screen and (min-width: 700px) {
     body{
      margin-right: .5%;
      margin-left: .75%;
      height: 900px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .3rem;
      background-color: coral;
    }
  
    .whole-box {
      height: 99%;
      width: 98%;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border: solid magenta 5px;
      border-radius: .33rem;
      font-weight: bolder;
    }
  }
  
  /*Larger Sized Stuff-Laptops*/
  @media only screen and (min-width: 1000px) {
    body {
      margin-right: .5%;
      margin-left: .75%;
      height: 900px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: .4rem;
      background-color: rgb(200, 90, 20);
    }
  
    .whole-box {
      height: 98%;
      width: 99%;
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      border-radius: .33rem;
      border: solid magenta 5px;
    }
  }
  
  /*Largest Screens Known To Humanity*/
  @media only screen and (min-width: 1400px) {
    body {
      margin-right: .5%;
      margin-left: .75%;
      height: 900px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: .5rem;
      background-color: rgb(255, 77, 0);
    }
  
    .whole-box {
      height: 98%;
      width: 99%; 
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      border-radius: .33rem;
      border: solid magenta 5px;
      font-weight: bolder;
    }
  }
  
  .edges {
    font-family: "Kavoon", serif;
    border: solid black .15rem;
    border-radius: .3rem;
    padding: .2rem;
  } 

  /* .edges2 {
    font-family: "Timmana", serif;
    font-family: "Maiden Orange", serif;
    border: solid black .33rem;
    border-radius: .6rem;
    padding: .2rem;
  }  */

  .whole-box-1 {
    font-family: "Kavoon", serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRltJwOhyafEvuTld6HniueqpgipWK9yujG4w&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-2 {
    font-family: "Maiden Orange", serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa7eq_RFQosh2otCMc3H57FTCUjqX9mDmRKw&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-3 {
    font-family: "Timmana", serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9lo9zYGE253MPYf77o4sq0tfE0LsjPKQmmQ&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-4 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4w_B3qhbJoyj15F4D4167BIi4FE9W_gh10g&s);
    background-size: cover;
    
  }
  
  .whole-box-5 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnadHMtK35dcAnSQ01SHnAzNJtApTAN_mttA&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-6 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRnee2S36rMIEfit-QwaWmN7A8y6K3t-twkg&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-7 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWFsQuZ_gZn1kc8gk4nMXutiPp3u9vKS8f2A&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-8 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYNXhtwhWSgxBr5ZL3-L_eiO-ql-NSx9HbBXCz32BDZXPy79GRXbZl4ewYreryxcdihzU&usqp=CAU);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-9 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDEZVTdMk4jt2LFWhZF21IrUeCbQl7tKjt2g&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-10 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK-RfrkW4oYTyzu5VX_QUK6jdlc_LzyjlYxQ&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-11 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrhCvAfOW22q_L-vOEdvGw6oB4WSOF0YQHRw&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-12 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhwTolkceCnHBv6TwxDoVA_0bO-jtvIfE2HA&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-13 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGZ8aLDrlRPc9ppJooMwnI9uUPVMD6y3jazg&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-14 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjREvJaMh1NXv7DQ0uF1HbyLLHrXZ-61akpw&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-15 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnoiT-WgGL6KZdrdI0lOC6UfmeTG0FB-jOTg&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-16 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTto1bxI6huqzcnAGCsZ1szyoqqAnzmKk-bNQ&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-17 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEn4Qb0vCEisQN3kk9G5dlIK_nvF6lpokUEw&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-18 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnuTCgKmQCOa9JflHam0ju9WdLr1wb7ECRlQ&s);
    background-size: cover;
    padding: .5rem;
  }

  .whole-box-19 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmrNr6KYngLWD5TjviogA_ZRPkTQUpTlSPig&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-20 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxK3mdLfga4xU9kYFPo5TNMVCuaw1vp54bUg&s);
    background-size: cover;
    padding: .5rem;
  }
  
  .whole-box-21 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxdkhszYhVljZsZpnWm48gy60x2ZWdAvGDA&s);
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjREvJaMh1NXv7DQ0uF1HbyLLHrXZ-61akpw&s); */
    background-size: cover;
    padding: .5rem;
  }
  
  .line-1a {
    color: rgb(140, 124, 81);
    background-color: rgb(71, 18, 220); 
    opacity: .5;
  }
  
  .line-1b {
    background-color: rgb(50, 196, 204);
    opacity: .75;
    color: rgb(232, 11, 11);
  }
  
  .line-1c {
    background-color: rgb(21, 4, 46);
    color: rgb(81, 255, 0);
    opacity: .5;
  }
  
  .line-2a {
    color: red;
    background-color: darkmagenta;
    opacity: .5;
  }
  
  .line-2b {
    background-color: magenta;
    opacity: .5;
    color: wheat;
  }
  
  .line-2c {
    background-color: rgb(102, 184, 135);
    color: blue;
    opacity: .5;
  }
  
  .line-3a {
    color: red;
    background-color: darkmagenta;
    opacity: .5;
  }
  
  .line-3b {
    background-color: #564094;
    opacity: .5;
    color: wheat;
  }
  
  .line-3c {
    background-color: yellow;
    color: blue;
    opacity: .5;
  }
  
  .line-4a {
    color: #2ba634;
    background-color: darkmagenta;
    opacity: .5;
  }
  
  .line-4b {
    background-color: #754a6b;
    color: wheat;
    opacity: .5;
  }
  
  .line-4c {
    background-color: #9a4cbc;
    color: blue;
    opacity: .5;
  }
  
  .line-5a {
    color: red;
    background-color: #564094;
    opacity: .5;
  }
  
  .line-5b {
    background-color: #bf1598;
    color: wheat;
    opacity: .5;
  }
  
  .line-5c {
    background-color: red;
    color: blue;
    opacity: .5;
  }
  
  .line-6a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-6b {
    background-color: #175b63;
    color: wheat;
  }
  
  .line-6c {
    background-color: red;
    color: #0a660a;
  }
  
  .line-7a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-7b {
    background-color: #175b63;
    color: wheat;
  }
  
  .line-7c {
    background-color: red;
    color: #175b63;
  }
  
  .line-8a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-8b {
    background-color: #175b63;
    color: wheat;
  }
  
  .line-8c {
    background-color: red;
    color: blue;
  }
  
  .line-9a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-9b {
    background-color: #5b2b70;
    color: wheat;
  }
  
  .line-9c {
    background-color: red;
    color: blue;
  }
  
  .line-10a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-10b {
    background-color: #5b2b70;
    color: rgb(118, 118, 214);
  }
  
  .line-10c {
    background-color: blue;
    color: aquamarine;
  }
  
  .line-11a {
    color: red;
    background-color: honeydew;
  }
  
  .line-11b {
    background-color: rgb(0, 98, 255);
    opacity: .75;
    color: darkmagenta;
  }
  
  .line-11c {
    background-color: red;
    color: blue;
  }
  
  .line-12a {
    color: red;
    opacity: .75;
    background-color: darkmagenta;
  }
  
  .line-12b {
    background-color: rgb(4, 148, 81);
    opacity: .75;
    color: rgb(58, 0, 128);
  }
  
  .line-12c {
    background-color: red;
    color: blue;
  }
  
  .line-13a {
    color: aliceblue;
    background-color: darkmagenta;
  }
  
  .line-13b {
    background-color: magenta;
    color: gold;
  }
  
  .line-13c {
    background-color: red;
    color: blue;
  }
  
  .line-14a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-14b {
    background-color: darkmagenta;
    color: yellowgreen;
  }
  
  .line-14c {
    background-color: red;
    color: blue;
  }
  
  .line-15a {
    color: red;
    background-color: darkmagenta;
  }
  
  .line-15b {
    background-color: magenta;
    color: rgb(12, 98, 107);
  }
  
  .line-15c {
    background-color: red;
    color: blue;
  }
  
  .line-16a {
    color: red;
    background-color: darkmagenta;
    opacity: .5;
  }
  
  .line-16b {
    background-color: #754a6b;
    color: orangered;
    opacity: .5;
  }
  
  .line-16c {
    background-color: red;
    color: blue;
    opacity: .5;
  }
  
  .line-17a {
    background-color: rgb(35, 0, 139);
    color: red;
    opacity: .5;
  }
  
  .line-17b {
    background-color: #1e1564;
    color: rgb(111, 97, 92);
    opacity: .5;
  }
  
  .line-17c {
    background-color: rgb(99, 10, 21);
    color: rgb(119, 119, 129);
    opacity: .5;
  }

  .line-18a {
    background-color: rgb(26, 20, 44);
    color: rgb(192, 163, 163);
    opacity: .5;
  }
  
  .line-18b {
    background-color: #7362ef;
    color: rgb(28, 11, 112);
    opacity: .5;
  }
  
  .line-18c {
    background-color: rgb(144, 132, 133);
    color: rgb(3, 3, 27);
    opacity: .5;
  }

  .line-19a {
    background-color: rgb(144, 112, 241);
    color: rgb(48, 5, 5);
    opacity: .5;
  }

  .line-19b {
    background-color: #0ab696;
    color: rgb(130, 9, 108);
    opacity: .5;
  }
  
  .line-19c {
    background-color: rgb(20, 16, 215);
    color: rgb(137, 137, 176);
    opacity: .5;
  }

  .line-20a {
    background-color: rgb(36, 127, 155);
    color: rgb(224, 119, 119);
    opacity: .5;
  }

  .line-20b {
    background-color: #330426;
    color: rgb(122, 102, 220);
    opacity: .5;
  }
  
  .line-20c {
    background-color: rgb(110, 196, 5);
    color: rgb(105, 72, 10);
    opacity: .5;
  }
  .line-21a {
    background-color: rgb(17, 122, 94);
    color: rgb(30, 19, 129);
    opacity: .5;
  }

  .line-21b {
    background-color: #505c49;
    color: rgb(8, 1, 39);
    opacity: .5;
  }
  
  .line-21c {
    background-color: rgb(94, 77, 79);
    color: rgb(200, 138, 184);
    opacity: .75;
  }

